.trafficLight {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  padding: 10px 5px;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
}
.trafficLight span {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
